@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/autoplay';

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  @apply block;
}

input {
  @apply border w-full;
}

button {
  @apply cursor-pointer;
}

.p_rounded_cursor-item {
  @apply cursor-pointer;
}

.hover_item {
  @apply hover:bg-gray-200;
}

.drop-imagen {
  @apply w-full h-full flex items-center justify-center;
}

.pero {
  font-family: 'Momo Signature', cursive;
}

.coso {
  @apply border-2 border-gray-200 py-1 px-3 text-gray-600 bg-white rounded-2xl focus:border-pink-400 focus:outline-none;
}
