@import 'tailwindcss';

label {
  @apply block;
}

input {
  @apply border w-full;
}

button {
  @apply cursor-pointer;
}

.p_rounded_cursor-item {
  @apply cursor-pointer py-1 px-5 rounded-4xl;
}

.hover_item {
  @apply hover:bg-gray-200;
}

.drop-imagen {
  @apply w-full h-40 flex items-center justify-center border;
}

button {
  @apply rounded-xl border border-gray-300 py-1 px-1.5;
}

.pero {
  font-family: 'Momo Signature', cursive;
}
